<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 px-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Inicio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tramos"
            >Histórico Consumos por Tramos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente"
            >Histórico Consumos por Cliente</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/top">Top 20</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet style="position: relative;"></router-outlet>
